<div class="sidebar">
  <div class="logo">
    <%= image_tag('logo_no_bg.png', alt: 'Company Logo', width: '75%') %>
  </div>
  <ul class="menu">
    <li class="<%= 'active' if controller_name == 'home' %>">
      <%= link_to "<i class='fa fa-dashboard'></i> Dashboard".html_safe, root_path %>
    </li>
    <li class="disabled <%= 'active' if controller_name == 'voter' %>">
      <%= link_to "<i class='fa fa-users'></i> Voters List".html_safe, voter_index_path %>
    </li>
    <li class="<%= 'active' if controller_name == 'reports' %>">
      <%= link_to "<i class='fa fa-bar-chart'></i> Reports".html_safe, reports_path %>
    </li>
    <li class="disabled <%= 'active' if controller_name == 'voter' %>" >
      <%= link_to "<i class='fa fa-upload'></i> Upload Data".html_safe, new_data_uploader_path %>
    </li>
    <li class="disabled">
      <%= link_to "<i class='fa fa-cog'></i> Settings".html_safe, root_path %>
    </li>
  </ul>
</div>