<!-- app/views/voters/index.html.erb -->

<div class="content">
  <div class="header">
    <h1>Voters List</h1>
    <p>This is your application's home page or dashboard.</p>
    <!-- Add more content as needed -->
  </div>
</div>

<div class="filter-container">
  <%= form_tag voter_index_path, method: :get, class: 'form-inline mb-3' do %>
    <%= label_tag 'gender_filter', 'Filter by Gender:' %>
    <%= select_tag 'gender_filter', options_for_select(['All', 'Male', 'Female'], params[:gender_filter]), class: 'form-control' %>
    <%= submit_tag 'Apply Filter', class: 'btn btn-primary ml-2' %>
    <%= link_to 'Clear Filter', voter_index_path, class: 'btn btn-secondary ml-2' %>
  <% end %>
</div>

<table class="table voter-list-table">
  <thead class= "table-head">
    <tr class = "table-row">
      <th>CNIC</th>
      <th>KID</th>
      <th>Name</th>
      <th>Father Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Date of Birth</th>
      <th>Voter Status</th>
      <th colspan="3"> Actions</th>
    </tr>
  </thead>

  <tbody class= "table-body">
    <% @voters.each do |voter| %>
      <tr class = "table-row">
        <td class= "table-data"><%= voter.cnic %></td>
        <td class= "table-data" ><%= voter.kid %></td>
        <td class= "table-data" ><%= voter.name %></td>
        <td class= "table-data" ><%= voter.father_name %></td>
        <td class= "table-data" ><%= voter.age %></td>
        <td class= "table-data" ><%= voter.cnic.to_i.even? ? "Female" : "Male" %></td>
        <td class= "table-data" ><%= voter.date_of_birth %></td>
        <td class= "table-data" ><%= voter.voter_status %></td>
        <!--- <td class= "table-data" ><%= link_to 'Show', voter %></td> -->
        <td class= "table-data print-button" >
          <%= link_to "Print", "javascript:void(0);", 
            disabled: voter.disabled,
            class: "print-button",
            onclick: voter.disabled ? nil : "printAndReload('#{print_voter_path(voter)}');" %>
        </td>
        <td class= "table-data disable-button" >
          <%= link_to "Lock", voter.disabled ? "javascript:void(0);" : lock_voter_path(voter), class: "disable-button",  disabled: voter.disabled%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<script>

  function printAndReload(url) {
    // Open a new tab and print the page
    var newWindow = window.open(url, '_blank');
    newWindow.onload = function() {
      newWindow.print();
    };

    // Reload the current page asynchronously
    setTimeout(function() {
      location.reload();
    }, 500); // Wait for 500 milliseconds before reloading (adjust the delay if needed)
  }

</script>