<!-- app/views/voters/index.html.erb -->

<div class="content">
  <div class="header">
    <h1>Voters List</h1>
    <li><%= link_to "Dashboard", root_path %></li>
    <!-- Add more content as needed -->
  </div>
</div>

<div class="filter-search-container">
  <div class="filter-container">
    <%= form_tag voter_index_path, method: :get, class: 'form-inline mb-3' do %>
      <%= label_tag 'gender_filter', 'Filter by Gender:' %>
      <%= select_tag 'gender_filter', options_for_select(['All', 'Male', 'Female'], params[:gender_filter]), class: 'form-control' %>
      <%= submit_tag 'Apply Filter', class: 'btn btn-primary ml-2' %>
      <%= link_to 'Clear Filter', voter_index_path, class: 'btn btn-secondary ml-2' %>
    <% end %>
  </div>

  <div class="search-container">
    <%= form_tag(search_voter_index_path, method: :get, class: 'form-container') do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search...", class: "search-input" %>
      <%= submit_tag "Search", class: "search-button" %>
      <%= link_to "Clear search", voter_index_path, class: "" %>
    <% end %>
  </div>
</div>

<table class="table voter-list-table">
  <thead class= "table-head">
    <tr class="table-row">
      <th>Sr.</th>
      <th>Voter No</th>
      <th>Name</th>
      <th>CNIC</th>
      <th>KID CHK</th>
      <!-- <th>Voter Status</th>-->
      <th>Father Name</th>
      <th>KID</th>
      <th>City</th>
      <th>Gender</th>
      <th>QABEELA</th>
      <th>URFIAT</th>
      <th>W/F Upto</th>
      <th>DOB</th>
      <th>Phone</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody class= "table-body">
    <% @voters.each do |voter| %>
      <tr class = "table-row <%= 'locked' if voter.disabled %>">
        <td class= "table-data"><%= voter.id %></td>
        <td class= "table-data"><%= voter.kid %></td>
        <td class= "table-data" ><%= voter.name %></td>
        <td class= "table-data" ><%= voter.cnic %></td>
        <td class= "table-data" ><%= voter.kid_chk %></td>
        <!-- <td class= "table-data" ><%= voter.verification %></td> -->
        <td class= "table-data" ><%= voter.father_name %></td>
        <td class= "table-data" ><%= voter.kid %></td>
        <td class= "table-data" ><%= voter.city %></td>
        <td class= "table-data" ><%= voter.cnic.to_i.even? ? "Female" : "Male" %></td>
        <td class= "table-data" ><%= voter.qabeela %></td>
        <td class= "table-data" ><%= voter.urfiat %></td>
        <td class= "table-data" ><%= voter.wf_upto %></td>
        <td class= "table-data" ><%= voter.formatted_dob %></td>
        <td class= "table-data" ><%= voter.mobile || voter.cell_no %></td>
        <!--- <td class= "table-data" ><%= link_to 'Show', voter %></td> -->
        
          <td class= "table-data print-button" >
            <%= link_to "Print", "javascript:void(0);", class: "button-link",
              onclick: voter.disabled ? nil : "printAndReload('#{print_voter_path(voter)}');" %>
          </td>
          <td class= "table-data disable-button" >
            <%= link_to "Lock", voter.disabled ? "javascript:void(0);" : lock_voter_path(voter), class: "button-link"%>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>


<script>

  function printAndReload(url) {
    // Open a new tab and print the page
    var newWindow = window.open(url);
    window.location.href = "/"
    newWindow.onload = function() {
      newWindow.print();
    };

    // Reload the current page asynchronously
    setTimeout(function() {
      location.reload();
    }, 500); // Wait for 500 milliseconds before reloading (adjust the delay if needed)
  }

</script>