<head>
  <title>Voter Slip</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    .slip {
      width: 180px;
      margin: 0 auto;
      padding: 25px;
      padding-left: 0px;
      padding-right: 0px;
      /* border: 1px solid #000; */
      text-align: center;
    }
    .heading {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .field {
      margin-bottom: 15px;
    }
    .label {
      font-weight: bold;
    }
    .table-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
    .details-table {
      text-align: left;
    }
    .details-table td {
      padding: 2px 0;
      font-size: 12px;
    }
    .details-table .lbl {
      text-align: left;
      font-weight: text;
      width: 70px;
    }
    .details-table .val {
      font-weight: bold;
    }
    .center-class {
      margin-left: 10px;
    }
  </style>
</head>
<body>
  <div class="slip">
    <h2 class="heading">Anjuman-e-Hussainia Khawajgan Narowali (Regd.) Lahore</h2>
    <div class="field">
      <% if @voter.guest_entry.eql?(true) %>
        <h3 class="label"> Guest Entry </h3>
      <% end %>
      <h5 class="label"></h5> <%= @voter.cnic.to_i.even? ? "Female" : "Male" %> TOKEN # <%= @voter.token_number%>
    </div>
    <div class="field">
      <% if @voter.guest_entry.eql?(true) %>
        <h4 class="label">CNIC  <%= @voter.cnic %> </h4>
      <% else %>
        <h4 class="label">KID  <%= @voter.kid.to_i %> </h4>
      <% end %>
        <h4 class="label">EXEC  <%= @voter.execution_no %> </h4>
    </div>
    
    <!-- Table layout for details below execution number -->
    <div class="table-wrapper center-class">
    <table class="details-table">
      <tr>
        <td class="lbl">Name</td>
        <td class="val"><%= @voter.name %></td>
      </tr>
      <tr>
        <td class="lbl">Father</td>
        <td class="val"><%= @voter.father_name %></td>
      </tr>
      <tr>
        <td class="lbl">Verification</td>
        <td class="val"><%= @voter.verification %></td>
      </tr>
      <tr>
        <td class="lbl">Qabeela</td>
        <td class="val"><%= @voter.qabeela %></td>
      </tr>
      <tr>
        <td class="lbl">URF</td>
        <td class="val"><%= @voter.urfiat %></td>
      </tr>
      <tr>
        <td class="lbl">W/fund upto</td>
        <td class="val"><%= @voter.wf_upto %></td>
      </tr>
      <tr>
        <td class="lbl">DOB</td>
        <td class="val"><%= @voter.formatted_dob %></td>
      </tr>
      <% if @voter.guest_entry.eql?(true) && @voter.user_code.present? %>
      <tr>
        <td class="lbl">User Code</td>
        <td class="val"><%= @voter.user_code %></td>
      </tr>
      <% end %>
    </table>
    </div>
    
    <h5> Printed at: <%= @local_time.strftime("%d-%b-%Y %l:%M %P") %> </br>*************************************** </br> Powered By AHKN</h5>
    
  </div>
</body>
